/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// overwrite root values of Ionic
:root {
    --ion-padding: 12px;
    --ion-text-color: var(--ion-color-primTxtColor);
}

// style of ion-toast
ion-toast {
    width: 72.5%;
    transform: translate(20%, -10px) !important;
    text-align: center;
    --background: var(--ion-color-light);
    --color: var(--ion-color-primTxtColor);
    --border-radius: 32px;
    --box-shadow: 0 1px 2px rgba(0,0,0,0.19), 0 0.5px 1px rgba(0,0,0,0.23);
}

ion-tabs {
    ion-tab-button {
        --color: #d2d2d2;
        --color-selected: var(--ion-color-primColor);
    }
}

/* style of alerts */
.order-alert {
    text-align: center;

    .order-alert-button {
        color: var(--ion-color-button) !important;
    }
    
}

/* set Media Queries for different display sizes and orientation of smartphone */
@media screen and(orientation: landscape) {
    ion-toast {
        display: none;
    }
}