<!-- restaurant.page.html -->

<app-toolbar></app-toolbar>

<!-- template of restaurant.page -->
<ion-content *ngIf="restaurants$ | async as items" class="ion-padding">
    <div class="header-container">
        <h1>{{ title }}</h1>
    </div>
    <div class="content-container">
        <!-- grid-layout -->
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let item of items" size="12">
                    <ion-card (click)="goToItems(item.restaurant_id)" button="true">
                        <!-- grid-layout -->
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <img [src]="item.image"/>
                                </ion-col>
                                <ion-col class="ion-align-self-center">
                                    <ion-card-title>{{ item.name }}</ion-card-title>
                                    <ion-item>
                                        <ion-icon name="pizza"></ion-icon>
                                        <ion-label>{{ item.category }}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon name="pin"></ion-icon>
                                        <ion-label>{{ item.address }}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon name="call"></ion-icon>
                                        <ion-label>{{ item.phone }}</ion-label>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>