/* style of restaurant.page */

ion-content {
    --background: rgb(255,255,255);
    --background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(245,245,245,1) 75%, rgba(235,235,235,1) 100%);
    --background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(245,245,245,1) 75%, rgba(235,235,235,1) 100%);
    --background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(245,245,245,1) 75%, rgba(235,235,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebebeb",GradientType=1);

    .header-container {
        text-align: center;

        h1 {
            font-size: 21px;
        }
    }

    .content-container {
        ion-grid {
            ion-row {
                ion-col {
                    ion-card {
                        background: var(--ion-color-secTxtColor);
                        border-radius: 5px;

                        img {
                            border-radius: 5px;
                        }

                        ion-card-title {
                            padding: 12px;
                            text-align: center;
                            font-size: 16px;
                            background: #f6f6f6;
                            border-radius: 5px;
                        }

                        ion-item {
                            ion-label {
                                margin-left: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* set Media Queries for different display sizes and orientation of smartphone */
@media screen and(orientation: landscape ) {
    .content-container {
        ion-card {
            ion-grid {
                ion-row {
                    ion-col {
                        --ion-grid-columns: 24;

                        ion-card-title {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}