<!-- mail.page.html -->

<!-- template of mail.page -->
<ion-content class="ion-padding">
    <div class="outer-container">
        <div class="content-container">
            <div class="header-container">
                <img src="../../../../assets/icon/email.svg"/>
            </div>
            <div class="form-container">
                <form>
                    <ion-item lines="none" [style.color]="color">
                        <ion-input (ionChange)="color = null" type="email" placeholder="Email" [(ngModel)]="user.email" name="email"></ion-input>
                    </ion-item>
                    <ion-item lines="none" [style.color]="color">
                        <ion-input (ionChange)="color = null" type="password" placeholder="Password" [(ngModel)]="user.password" name="pawssword"></ion-input>
                    </ion-item>
                    <ion-button expand="block" (click)="login(user)">{{ btnText }}</ion-button>
                </form>
            </div>
            <div class="password-container">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <hr> <!-- horizontal line -->
                        </ion-col>
                        <ion-col>
                            <span>or</span>
                        </ion-col>
                        <ion-col>
                            <hr> <!-- horizontal line -->
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <p>Forgot password?</p>
            </div>
        </div>
    </div>
</ion-content>