/* style of cart.page */

ion-content {
    --background: rgb(255,255,255);
    --background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(245,245,245,1) 75%, rgba(235,235,235,1) 100%);
    --background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(245,245,245,1) 75%, rgba(235,235,235,1) 100%);
    --background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(245,245,245,1) 75%, rgba(235,235,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebebeb",GradientType=1);

    .wrapper-container {
        .content-container {
            .empty-container {
                text-align: center;

                p {
                    color: #4c4c4c;
                }
            }

            .product-container {
                display: block;
                margin: 0 auto;
                width: 90%;
                
                ion-list {
                    ion-item-sliding {
                        ion-item {
                           ion-grid {
                               padding: 0;
                           }
                        }
                    }
                }
            }
        }
    }
}