<!-- cart.page.html -->

<app-toolbar></app-toolbar>

<!-- template of cart.page -->
<ion-content class="ion-padding">
    <div class="empty-container" *ngIf="isEmptyProducts">
        <div class="content-container">
            <img src="../../../../../../assets/icon/cart.svg"/>
            <p>Cart is empty</p>
        </div>
    </div>
    <div class="wrapper-container" *ngIf="!isEmptyProducts">
        <div class="content-container">
            <div class="header-container">
                <h1>Cart</h1>
            </div>
            <div class="product-container">
                <ion-list class="item-container" *ngFor="let item of products" #list>
                    <ion-item-sliding>
                        <ion-item-options side="start">
                            <ion-item-option (click)="deleteProduct(item.cart_id)" color="danger" expandable>
                                <ion-icon name="close"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>
                        <ion-item lines="none">
                            <!-- grid-layout -->
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="9"> 
                                        <ion-label>{{ item.name }}</ion-label>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-label class="price">&euro; {{ item.price }}</ion-label>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
                <div class="price-container">
                    <ion-item lines="none">
                        <!-- grid-layout -->
                        <ion-grid>
                            <ion-row>
                                <ion-col size="9">
                                    <ion-label>Total</ion-label>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-label class="price">&euro; {{ totalPrice }}</ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </div>
            </div>
            <div class="button-container">
                <ion-button (click)="orderProducts(products, totalPrice)" expand="block">
                    {{ btnText }}
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>