/* style of filter.component */

ion-grid {
    padding: 0;

    ion-row {
        ion-searchbar {
            padding: 0;
        }

        ion-col {
            ion-icon {
                font-size: 25px;
            }

            h1 {
                margin: 0;
                text-align: center;
                font-size: 21px;
            }
        }
    }
}