<!-- filter-component.html -->

<!-- template of filter.component -->
<ion-grid>
  <ion-row *ngIf="searchbarOpen">
    <ion-searchbar showCancelButton="focus" (ionInput)="filter($event)" (ionCancel)="searchbarOpen = false"></ion-searchbar>
  </ion-row>
  <ion-row *ngIf="!searchbarOpen" class="ion-align-items-center">
    <ion-col size="1">
      <ion-icon (click)="searchbarOpen = true" name="search"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <h1>{{ title }}</h1>
    </ion-col>
  </ion-row>
</ion-grid>

