<!-- settings.page.html -->

<app-toolbar></app-toolbar>

<!-- template of settings.page -->
<ion-content class="ion-padding">
    <div class="wrapper-container">
        <div class="content-container">
            <div class="header-container">
                <h1>Logout or delete Account</h1>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            <div class="button-container">
                <ion-button class="btn-logout" (click)="logout()" expand="block">{{ btnTxtLogout }}</ion-button>
                <ion-button class="btn-delete" (click)="delete()" expand="block">{{ btnTxtDelete }}</ion-button>
            </div>
        </div>
    </div>
</ion-content>