<!-- settings.page.html -->

<app-toolbar></app-toolbar>

<!-- template of settings.page -->
<ion-content class="ion-padding">
    <div class="wrapper-container">
        <div class="content-container">
            <div class="button-container">
                <ion-button class="btn-logout" (click)="logout()" expand="block">{{ btnTxtLogout }}</ion-button>
                <ion-button class="btn-delete" (click)="delete()" expand="block">{{ btnTxtDelete }}</ion-button>
            </div>
        </div>
    </div>
</ion-content>