<!-- home.page.html -->

<app-toolbar></app-toolbar>

<!-- template of home.page -->
<ion-content *ngIf="profile$ | async as item" class="ion-padding">
    <div class="wrapper-container">
        <div class="content-container">
            <div class="header-container">
                <h1>Hello, {{ item.firstname }} {{ item.lastname }}!</h1>
                <div class="button-container" *ngFor="let button of buttons">
                    <ion-button expand="block" [routerLink]="button.url">
                        <ion-icon [name]="button.icon"></ion-icon>
                        {{ button.title }}
                    </ion-button>
                 </div>
            </div>
        </div>
    </div>
</ion-content>