/* style of home.page */

ion-content {
    .wrapper-container {
        .content-container {
            display: block;
            width: 100%;

            .header-container {
                h1 {
                    text-align: center;
                    font-size: 21px;
                    margin-bottom: 10%;
                }
    
                .button-container {
                    display: block;
                    margin: 0 auto;
                    width: 75%;
    
                    ion-button {
                        height: 48px;
                        margin-bottom: 16px;
                        text-transform: none;
                        --border-radius: 32px;
                        --background: var(--ion-color-button);
    
                        ion-icon {
                            position: absolute;
                            left: 26px;
                        }
                    }
                }
            }
        }
    }
}

/* set Media Queries for different display sizes and orientation of smartphone */
@media screen and(orientation: landscape) {
    .wrapper-container {
        .content-container {
            .header-container {
                h1 {
                    margin-bottom: 5% !important;
                }
    
                .button-container {
                    width: 50% !important;
                }
            }
        }
    }
}
