/* style of home.page */

ion-content {
    --background: rgb(255,255,255);
    --background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(245,245,245,1) 75%, rgba(235,235,235,1) 100%);
    --background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(245,245,245,1) 75%, rgba(235,235,235,1) 100%);
    --background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(245,245,245,1) 75%, rgba(235,235,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebebeb",GradientType=1);


    .wrapper-container {
        .content-container {
            display: block;
            width: 100%;

            .header-container {
                h1 {
                    text-align: center;
                    font-size: 21px;
                    margin-bottom: 10%;
                }
    
                .button-container {
                    display: block;
                    margin: 0 auto;
                    width: 75%;
    
                    ion-button {
                        height: 48px;
                        margin-bottom: 16px;
                        text-transform: none;
                        --border-radius: 32px;
                        --background: var(--ion-color-button);
    
                        ion-icon {
                            position: absolute;
                            left: 26px;
                        }
                    }

                    .make-order {
                        --background:var(--ion-color-primColor);
                    }
                }
            }

            .order-container {
                position: absolute;
                bottom: 20px;
                width: 100%;

                .empty-container {
                    p {
                        text-align: center;
                        color: #959595;
                    }
                }

                .content-container {
                    p {
                        position: relative;
                        bottom: 10vh;
                        text-align: center;
                    }

                    h1 {
                        margin: 0px 0px 10px 0px;
                        text-align: center;
                        font-size: 18px;
                    }

                    .slider-container {
                        ion-slides {
                            ion-slide {
                                ion-col {
                                    padding: 0;
                
                                    ion-card {
                                        background: var(--ion-color-secTxtColor);
                
                                        ion-card-title {
                                            padding: 10px;
                                            font-size: 16px;
                                        }
                
                                        ion-card-subtitle {
                                            padding: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    }
            }
        }
    }
}

/* set Media Queries for different display sizes and orientation of smartphone */
@media screen and(orientation: landscape) {
    .wrapper-container {
        .content-container {
            .header-container {
                h1 {
                    margin-bottom: 5% !important;
                }
    
                .button-container {
                    width: 50% !important;
                }
            }
            
            .order-container {
                display: none !important;
            }    
        }
    }
}
