/* style of location.page */

ion-content {
   
    .content-container {
        ion-grid {
            ion-row {
                ion-col {
                    ion-card {
                        ion-card-title {
                            padding: 12px;
                            text-align: center;
                            font-size: 16px;
                        }

                        ion-item {
                            ion-label {
                                margin-left: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}