<!-- venue.page.html -->

<app-toolbar></app-toolbar>

<!-- template of venue.page -->
<ion-content *ngIf="venues$ | async as items" class="ion-padding">
    <div class="header-container">
        <app-filter [title]="title" [list]="items" (filterList)="items = $event"></app-filter>
    </div>
    <div class="content-container">
        <!-- grid-layout -->
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let item of items" size="12">
                    <ion-card (click)="goToRestaurant(item.venue_id)" button="true">
                        <!-- grid-layout -->
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <img [src]="item.image"/>
                                </ion-col>
                                <ion-col class="ion-align-self-center">
                                    <ion-card-title>{{ item.name }}</ion-card-title>
                                    <ion-item>
                                        <ion-icon name="pin"></ion-icon>
                                        <ion-label>{{ item.address }}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon name="people"></ion-icon>
                                        <ion-label>{{ item.capacity }}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-icon name="call"></ion-icon>
                                        <ion-label>{{ item.phone }}</ion-label>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>   
                </ion-col> 
            </ion-row>
        </ion-grid>
    </div>
</ion-content>