/* style of location.page */

ion-content {
   
    .content-container {
        ion-grid {
            ion-row {
                ion-col {
                    ion-card {
                        border-radius: 5px;

                        img {
                            border-radius: 5px;
                        }

                        ion-card-title {
                            padding: 12px;
                            text-align: center;
                            font-size: 16px;
                        }

                        ion-item {
                            ion-label {
                                margin-left: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* set Media Queries for different display sizes and orientation of smartphone */
@media screen and(orientation: landscape ) {
    .content-container {
        ion-card {
            ion-grid {
                ion-row {
                    ion-col {
                        --ion-grid-columns: 24;

                        ion-card-title {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}