<!-- signup.page.html -->

<ion-content class="ion-padding">
    <div class="outer-container">
        <div class="content-container">
            <div class="header-container">
                <img src="../../../assets/icon/signUp.svg"/>
            </div>
            <div class="form-container">
                <form>
                    <ion-item lines="none" [style.color]="color">
                        <ion-input (ionChange)="color = null" type="email" placeholder="Email" [(ngModel)]="user.email" name="email"></ion-input>
                    </ion-item>
                    <ion-item lines="none" [style.color]="color">
                        <ion-input (ionChange)="color = null" type="password" placeholder="Password" [(ngModel)]="user.password" name="password"></ion-input>
                    </ion-item>
                    <ion-item lines="none" [style.color]="color">
                        <ion-input (ionChange)="color = null" type="password" placeholder="Retype Password" [(ngModel)]="user.retypePassword" name="retypePassword"></ion-input>
                    </ion-item>
                    <ion-button expand="block" (click)="signUp(user)">{{ btnText }}</ion-button>
                </form>
            </div>
            <div class="login-container">
                <!-- grid-layout for horizontal lines-->
                <ion-grid>
                    <ion-row>
                        <ion-col size="5">
                            <hr> <!-- horizontal line -->
                        </ion-col>
                        <ion-col size="2">
                            <span>or</span>
                        </ion-col>
                        <ion-col size="5">
                            <hr> <!-- horizontal line -->
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <p (click)="goToEmailLogin()">Already have an account?</p>
            </div>
        </div>
    </div>
</ion-content>