<!-- menu.page.html -->

<!-- template of menu.page -->
<ion-split-pane>
        <ion-menu class="sidemenu" contentId="sidemenu">
            <ion-content>
                <h1>{{ title }}</h1>
                <ion-list lines="full" *ngFor="let page of pages">
                    <ion-menu-toggle autoHide="false">
                        <ion-item [routerLink]="page.url">
                            <ion-icon [name]="page.icon" slot="start"></ion-icon>
                            <ion-label>{{ page.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="sidemenu" main></ion-router-outlet>
    </ion-split-pane>