<!-- menu.page.html -->

<!-- template of menu.page -->
<ion-split-pane>
        <ion-menu class="sidemenu" contentId="sidemenu">
            <ion-content>
                <!--
                <h1>{{ title }}</h1>
                -->
                <div class="header-container">
                    <img src="../../../assets/img/logo.svg"/>
                </div>
                <ion-list *ngFor="let page of pages" lines="full">
                    <ion-menu-toggle autoHide="false">
                        <ion-item [routerLink]="page.url">
                            <ion-icon [name]="page.icon" slot="start"></ion-icon>
                            <ion-label>{{ page.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
                <div class="footer-container">
                    <p>&copy; 2019</p>
                </div>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="sidemenu" animated="false" main></ion-router-outlet>
    </ion-split-pane>