<!-- tab.page.html -->

<!-- template of tab-page -->
<ion-tabs>
    <ion-tab-bar>
        <ion-tab-button tab="food">
            <ion-icon name="pizza"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="drinks">
            <ion-icon name="beer"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="pickup">
            <ion-icon name="pin"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="cart">
            <ion-icon name="cart"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>